fastapi
uvicorn
python-multipart
pandas
pdfplumber
python-docx
openpyxl
aiohttp
slowapi
python-jose[cryptography]
passlib[bcrypt]
pytest

pydantic_settings


pytest 
pytest-asyncio 
pytest-mock

httpx

email-validator